
body{
    background-color: rgb(0, 0, 33);
  }
.navbar{
    width: 250px;
    margin-left: 550px;
    height: 55px;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
  .nav-name{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
  }

.container{
    background-color: beige;
    border: 3px solid black;
    width: 65%;
    margin-left: 200px;
    margin-top: 20px;
    padding: 5px;
    display: flex;
}
.box{
    height: 200px;
    width: 200px;
    border: 2px solid greenyellow;
    margin: 5px;
    padding: 5px;
}
.image1{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
.image2{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
.image3{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
.image4{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

@media (min-width : 640px) {
    .container{
        flex-direction: row;
    }
}
@media screen and (max-width:640px) {
    .container{
        flex-direction: column;
        margin-left: 50px;
        overflow-x: hidden;
    }
    .navbar{
        width: 250px;
        margin-left: 40px;
        height: 55px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
      }
      .nav-name{
        color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
      }

}